language: php

php:
  - 5.6
  - 7.0
  - 7.1

env:
  global:
    - setup=basic

matrix:
  fast_finish: true
  include:
    - php: 5.6
      env: setup=lowest
    - php: 5.6
      env: setup=stable

sudo: false

cache:
  directories:
    - $HOME/.composer/cache

services:
  - memcached
  - redis-server

before_install:
  - cp .env.travis .env
  - mysql -e 'create database homestead_test;'
  - if [[ $TRAVIS_PHP_VERSION != 7.1 ]] ; then phpenv config-rm xdebug.ini; fi
  - echo "extension = memcached.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - pecl install -f redis
  - travis_retry composer self-update

install:
  - if [[ $setup = 'basic' ]]; then travis_retry composer install --no-interaction --prefer-dist --no-suggest; fi
  - if [[ $setup = 'stable' ]]; then travis_retry composer update --prefer-dist --no-interaction --prefer-stable --no-suggest; fi
  - if [[ $setup = 'lowest' ]]; then travis_retry composer update --prefer-dist --no-interaction --prefer-lowest --prefer-stable --no-suggest; fi

script: vendor/bin/phpunit

notifications:
  slack:
    secure: g258tpE9C3HrNNgBJanvPO81l2c/RBfCwAK+RpCDDvcsO9F48aVJkpk98bgy3eHZlOOQB+rm/Bzox1Zhha2xPcDAfjaUa9HM3jiAMLMt/5Hj/xQQnlifo61cVSJtps2tpPuQU1XeqVY/xJtYWCE7xUbzbhxfOx2dl2J6UqNxO3nh9Cdf3o/TU/dEKn+KLvpuYe1C4iGRECKvWK3BLAW6Fsnfn71Z8uSFYKkcJnNZbBXXxwS5TUfqyQfRVESCNxqiorUWhNUdh2erqfcNJFqF++grl3JqRM5LDkx34CjfYTbhssKQ9Hio7dAPk/UUJphH9A9N2RYuOraAFxXm3oOweJOP50uJIDwkSJxKp3AvqI6o2qjmv6P5dHXqhWRVfYwMHiZiqdzT996BFXJ7x+xaFMjPN+zGmpaa9LV1eDWKlhe8Tl8sgzlJsbmuLbij0ZGirSmESBqWbGlyRA67vSGEUDYjz0rfP1Ydv3OezWAXKf1bCJBrq+6IORFBwbADthzRB+qPhscnX+SP15oXxKD19CepCHw87iKZkQG0OK1v3ZwDwdUdUXq3SUnhcItUWG21SFaDqvMYB0Xj/cx4qsBKmU2ZJWF4xChrmz7g9O+FCBR49i632HiyaWKjkOwYzVBcJgiOU9gDUW5smSZF6qg0FImwifi+2I5NYgEXfOuzH4c=

